# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ibrary/
sysinfo.txt
*.stackdump

# Compiled output
*.apk
*.unitypackage

# Credentials
*.env
*.config

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio Code cache options
.vscode/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Unity
*.csproj
*.sln
*.DotSettings
*.DotSettings.user
*.meta
*.unity
*.unitypackage